<header id="topnav">
  <div class="container">
    <div class="logo">
      <a href="index.html">
        <img src="{{ url('theme://images/logo_light.png') }}" alt="" class="logo-light">
        <img src="{{ url('theme://images/logo_dark.png') }}" alt="" class="logo-dark">
      </a>
    </div>
    <div class="menu-extras">
      <div class="menu-item">
        <a class="navbar-toggle">
          <div class="lines"><span></span><span></span><span></span>
          </div>
        </a>
      </div>
    </div>
    <div id="navigation" data-onepage="true">
      <ul class="navigation-menu nav">
        <li><a href="#home" data-scroll="true">Home</a>
        </li>
        <li><a href="#about" data-scroll="true">About</a>
        </li>
        <li><a href="#services" data-scroll="true">What I Do</a>
        </li>
        <li><a href="#experience" data-scroll="true">Experience</a>
        </li>
        <li><a href="#skills" data-scroll="true">Skills</a>
        </li>
        <li><a href="#contact" data-scroll="true">Hire Me</a>
        </li>
      </ul>
    </div>
  </div>
</header>